/* * {
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #f3c043;
	background-color: #e84e3c;
	font-size: 24px;
} */

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 120px;
}

h2 {
	font-size: 80px;
}

.visually-hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; 
}
