* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #ecf072;
	color: #ef5236;
	font-size: 24px;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
